/* Очистка стилей */

/* Общее */

*
{
    padding: 0; 
    margin: 0;
    font-size: 2vmin;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1f232e;
}

input:focus
{
    outline: none;
}

button
{
    border: 0 solid rgba(0,0,0,0);
}

html
{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

a, p, h6
{
    font-size: 2vmin;
}

h5
{
    font-size: 2.5vmin;
    padding-left: 8vmin;
}

h4
{
    font-size: 3vmin;
}

h3
{
    font-size: 3.5vmin;
    text-align: center;
}

h2
{
    font-size: 4vmin;
}

h1
{
    font-size: 5vmin;
    text-align: center;
}

/* Бегунок */

::-webkit-scrollbar 
{
    width: 1.5vmin;
    background-color: #bec4e1;
    background-size: auto 300%;
    background-position: top;
    border-right-color: #1f232e;
}

::-webkit-scrollbar:hover
{
    transition: 2s;
    background-position: bottom;
}


::-webkit-scrollbar-thumb
{
    background: #1f232e;
    border: 0.25vmin solid #bec4e1;
    border-radius: 1vmin;
}

::-webkit-scrollbar-thumb:hover
{
    background-color: #7f0a91;
}

/* Навигация */

.navbar{
    display: flex;
    background-color: #bec4e1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar img{
    margin-left: 5px;
}
.nav-list{
    display: flex;
}

.nav-list a{
    display: block;
    padding: 1em;
    margin: 1em;
    text-decoration: none;
    color: #1f232e;
    border-style: solid;
    border-radius: 1em;
    font-size: 2.5vmin;
}

.nav-list a:hover{
    background-color: #1f232e;
    color: #bec4e1;
}

.nav-list p{
    display: block;
    padding: 1em;
    margin: 1em;
    text-decoration: none;
    color: #1f232e;
    border-style: solid;
    border-radius: 1em;
}
.nav-list p:hover{
    background-color: #1f232e;
    color: #bec4e1;
}

.nav-btn{
    display: none;
}

.logo{
    height: 4em;
    margin-top: 10px;
}

/* Адаптив меню навигации */
@media (max-width: 1000px){
    .nav-btn{
    font-size: 2em;
    padding-inline: 10px;
    padding-bottom: 3px;
    border: solid;
    border-radius: 0.25em;
    border-color: #bec4e1;
    background-color: #bec4e1;
    color: #1f232e;
    display: block;
    cursor: pointer;
    }

    .nav-btn:hover{
        background-color: #1f232e;
        color: #bec4e1;
        border: solid;
        border-radius: 0.25em;
    }

    .nav-list{
        display: none;
    }

    .drop:hover .nav-list{
        display: block;
        position: absolute;
        right: 1px;
        background-color: #bec4e1;
        border-style: solid;
        border-color: #bec4e1;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
    }

    .navbar{
        justify-content: space-between;
    }

    .logo{
        height: 2em;
        margin-top: 7px;
        margin-left: 5px;
    }

}

/* Контент */

section
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#cardreg
{
    width: 35vmin;
    height: 50vmin;
    border-radius: 2vmin;
    background-color: #bec4e1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#blocklog, #blockpas
{
    background-color: white;
    border: 0.2vmin solid #1f232e;
    border-radius: 1vmin;
    box-shadow: 0 0.4vmin #1f232e;
    height: 3vmin;
    width: 30vmin;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* margin: 2vmin 0 0; */
    margin-bottom: 0.5vmin;
}

#textlog, #passlog
{
    border: 0 solid #1f232e;
    width: 25vmin;
    margin-left: 1vmin;
}

#textimg, #passimg
{
    width: 3vmin;
    height: 3vmin;
    margin-left: 1vmin;
}

#qp, #at, #ap
{
    width: 30vmin;
    height: 2vmin;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#qp
{
    margin: 1vmin 0;
    margin-top: 2vmin;
}

#butreg
{
    width: 30vmin;
    height: 6vmin;
    border-radius: 1vmin;
    background-color: #1f232e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bec4e1;
}

#section-5 a
{
    color: #1f232e;
}

#aka
{
    display: flex;
    flex-direction: row;
    margin-top: 1vmin;
    
}

#aka > a{
    color: #7f0a91;
    padding-left: 0.5vmin;
    text-decoration: none;
}

#at, #ap
{
    margin-top: 0.2vmin;
    color: red;
    font-size: 1.5vmin;
    margin-bottom: 2vmin;
}


/* footer */

.footer, footer
{
    width: 100%;
    background-color: #bec4e1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #1f232e;
    border-top: 0.2vmin solid #1f232e;
    border-bottom: 0.2vmin solid #1f232e;
}
.footer
{
    height: 10vmin;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a
{
    color: #1f232e;
}

footer .container {
    width: 97vw;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-left: 3vw;
}
footer .container .sec h2 {
    position: relative;
    color: #1f232e;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 15px;
}
footer .container .sec h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #7f0a91;
}

.sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 10px;
}
.sci li {
    list-style: none;
}
.sci li a {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: #bec4e1;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.sci li a:hover {
    background: #1f232e;
    color: #bec4e1;
}
.sci li a .fa {
    font-size: 20px;
}
.quicklinks {
    position: relative;
}
.quicklinks li {
    list-style: none;
}
.quicklinks li a {
    margin-bottom: 10px;
    display: inline-block;
}
.quicklinks li a:hover {
    color: #7f0a91;
}
.info {
    position: relative;
}
.info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}
.info li span:nth-child(1) {
    font-size: 20px;
}
.info a:hover {
    color: #7f0a91;
}
.copyrightText {
    width: 100%;
    background: var(--header-color);
    padding: 8px 100px;
    text-align: center;
}

@media screen and (max-width: 990px) {
    footer {
        padding: 0vw;
    }
    footer .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    footer .container {
        grid-template-columns: repeat(1, 1fr);
    }
    .copyrightText {
        padding: 8px 40px;
    }
}